<!--
<div class="nav-card">
      <div style="text-align: center;"><img src="../assets/images/dashboard/Econ_OFF.png" class="nav-card-image"/></div>
      <div class="nav-card-title">ROADS</div>
      <div class="nav-card-text">This is text in the nav card</div>
    </div>
    <div class="nav-card">
      <div style="text-align: center;"><img src="../assets/images/dashboard/Econ_OFF.png" class="nav-card-image"/></div>
      <div class="nav-card-title">ROADS</div>
      <div class="nav-card-text">This is text in the nav card</div>
    </div>
    <div class="nav-card">
      <div style="text-align: center;"><img src="../assets/images/dashboard/Econ_OFF.png" class="nav-card-image"/></div>
      <div class="nav-card-title">ROADS</div>
      <div class="nav-card-text">This is text in the nav card</div>
    </div>
    <div class="nav-card">
      <div style="text-align: center;" ><img src="../assets/images/dashboard/Econ_OFF.png" class="nav-card-image"/></div>
      <div class="nav-card-title">ROADS</div>
      <div class="nav-card-text">This is text in the nav card</div>
</div>
-->

<div class="nav-card">
		<a routerLink="/economy">
      <div style="text-align: center; padding:10%;" matRipple>
      	<img src="../assets/images/dashboard/Econ_OFF.png" class="nav-card-image"/>
      </div>
    </a>
</div>
<div class="nav-card">
	<a routerLink="/culture">
    <div style="text-align: center;padding:10%;">
    	<img src="../assets/images/dashboard/Culture_OFF.png" class="nav-card-image"/>
    </div>  
	</a>
</div>


<div class="nav-card">
	<a routerLink="/explore">
    <div style="text-align: center;padding:10%;">
    	<img src="../assets/images/dashboard/Transpo_OFF.png" class="nav-card-image"/>
    </div>
	</a>
</div>


<div class="nav-card">
	<a routerLink="/natural">
    <div style="text-align: center;padding:10%;" >
    	<img src="../assets/images/dashboard/Natural_OFF.png" class="nav-card-image"/>
    </div>
 </a>   
</div>
