/* DashboardComponent's private CSS styles */
.dashboard {
  padding: 0 7%;
  background-size: 100% 100%;
}


h1 {
  font-size: 11em;
  font-family: impact;
  color: #003e48;
}

.dashboard-footer {
  text-align: center;
}

.dashboard-footer img {
    width: 25%;
    padding: .5%;
}
