
<div class="dashboard" style="background-image: url(../assets/images/dashboard/background_splash.jpg);">
	<mat-grid-list cols="5" >
	  	<mat-grid-tile [colspan]="2" [rowspan]="3">
	  		<h1>RIVER HERITAGE HISTORY GALLERY</h1>
	  	</mat-grid-tile>
	  	<mat-grid-tile [colspan]="1"></mat-grid-tile>
	  	<a routerLink="/culture">
		  	<mat-grid-tile [colspan]="1">
		  		<img src="../assets/images/dashboard/Culture_OFF.png">
		  	</mat-grid-tile>
		  </a>
	  	<mat-grid-tile [colspan]="1"></mat-grid-tile>
	  	<a routerLink="/economy">
		  	<mat-grid-tile [colspan]="1">
		  		<img src="../assets/images/dashboard/Econ_OFF.png">
		  	</mat-grid-tile>
		  </a>
	  	<mat-grid-tile [colspan]="1">
	  		<img src="../assets/images/dashboard/Oboro_OFF.png">
	  	</mat-grid-tile>
	  	<a routerLink="/explore">
	  		<mat-grid-tile [colspan]="1">
	  			<img src="../assets/images/dashboard/Transpo_OFF.png">
	  		</mat-grid-tile>
	  	</a>
	  	<mat-grid-tile [colspan]="1"></mat-grid-tile>
	  	<a routerLink="/natural">
		  	<mat-grid-tile [colspan]="1">
		  		<img src="../assets/images/dashboard/Natural_OFF.png">
		  	</mat-grid-tile>
	  	</a>
	  	<mat-grid-tile [colspan]="1"></mat-grid-tile>
	</mat-grid-list>

</div>
	<div class="dashboard-footer">
		<img src="../assets/images/dashboard/museum_logo_new_12in.png" />
	</div>
	
	<!--
<div class="dashboard">
	<div class="splash-container" style="background-image: url(../assets/images/background_splash.jpg);">
		<div class="top-container">
			<div class="left">
				RIVER HERITAGE HISTORY GALLERY
			</div>
			<div class="right">
				Culture
			</div>
		</div>
		<div class="splash-footer" style="background-color:red; height:10%; width:100%">
			OWENSBORO MUSEUM <br>
			OF SCIENCE AND HISTORY
		</div>
	</div>
</div>	-->