<div id="page">
<div class="wrapper">
  <div class="bottom">
    <img src="../../assets/images/after.jpg" draggable="false"/>
  </div>
  <div class="middle">
    <img src="../../assets/images/before.jpg" draggable="false"/>
  </div>
  <div class="scroller scroller-middle">
    <svg class="scroller__thumb" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><polygon points="0 50 37 68 37 32 0 50" style="fill:#FFCCBC"/><polygon points="100 50 64 32 64 68 100 50" style="fill:#FFCCBC"/></svg>
  </div>
  <div class="top">
    <img src="../../assets/images/future.jpg" draggable="false"/>
  </div>
  <div class="scroller scroller-top">
    <svg class="scroller__thumb" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><polygon points="0 50 37 68 37 32 0 50" style="fill:#FFAB91"/><polygon points="100 50 64 32 64 68 100 50" style="fill:#FFAB91"/></svg>
  </div>
</div>
</div>