router-outlet ~ * {
  position: absolute;
  width: 100%;
}

/* You can add global styles to this file, and also import other style files */
body { 
	background-color: #01121b;
 }

@import '~@angular/material/theming';
@import '~angular-mgl-timeline/theme';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
 
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$candy-app-primary: mat-palette($mat-blue);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);
@include mgl-timeline-theme($candy-app-theme);

body, html {
  margin: 0;
}

mat-toolbar {
  margin-bottom: 10px !important;

  &:not(.mat-primary) {
    & .mat-toolbar-row {
    flex-wrap: wrap;
    height: auto;
    padding: 5px 0;
  }

  & button {
    margin: 5px !important;
  }
}
  
}

mgl-timeline:not(.mobile) {
  padding: 50px 20px;
}

mgl-timeline.mobile {
  padding-right: 20px;
}


// Dan Carousel Adjustments
//
.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 100% !important;
  height: 100% !important;
}

.carousel-control-next {
  margin-right: -10% !important;
}

.carousel-control-prev {
  margin-left: -10% !important;
}

.carousel-indicators {
  visibility: hidden;
}

.carousel, .carousel-inner, .carousel-item { 
  height: 100% !important;
}


// Add Custom Fonts
//
@font-face {
  font-family: cora;
  src: url(assets/fonts/Cora_Medium.ttf) format("opentype");
}



// Breakpoints
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

// Font-Size
$base-font-size: 1em;

// Line-Height
$base-line-height: 1.5;
$header-line-height: 1.25;

body {
  font-size: $base-font-size;
  line-height: $base-line-height;

  @media #{$mq-medium} {
    font-size: $base-font-size*1.2;
    line-height: $base-line-height*1.2;
  }

  @media #{$mq-large} {
    font-size: $base-font-size*1.3;
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size*1.4;
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size*1.6;
  }
}

.container {
  margin: 0 4%;

  @media #{$mq-medium} {
    margin: 0 8%;
  }

  @media #{$mq-large} {
    margin: 0 12%;
  }

  @media #{$mq-xlarge} {
    margin: 0 18%;
  }
}
